body{margin: 0;
    padding: 0;
    background-image: url(Purples-5.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{ font-size: 5rem;
    font-family: system-ui;
    color: rgb(19, 15, 10);
    
     padding-top: 5%;
    
}
#container{
    margin-top: 30px;
    height: 300px;
    width: 300px;
display: flex;
   justify-content: center;
  
    background-color: azure;
    border-radius: 10px;
   
}
.username{
font-family: serif;}
   .humanicon{
    display: flex;
   }